//Цвета
$pink: rgba(210, 40, 86, 1);
$blue: rgba(40, 54, 69, 1);
$pinkHover: rgba(210, 42, 87, 0.3);
$greenButton: #2aab6d;
$greenButtonHover: #1c9b5e;
$header: rgba(0, 0, 0, .3);
$herobg: #1d2631;
$tarrifs: #283645;
$cross: #f25b26;
$checkbox: #3dc644;



//Переходы

$leaner: .4s cubic-bezier(.71, .38, .45, .94);
