//Блок с исследованием

.fact-list {
  padding-left: 310px;
  margin-bottom: 85px;

  @media #{$desktop} {
    padding-left: 365px;
    padding-bottom: 85px;
    margin-bottom: 0;
  }

  &__title {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 9px;

    @media #{$desktop} {
      margin-bottom: 22px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 238px;
      height: 276px;
      left: -308px;
      top: -34px;
      background: url(../../img/decor/icon-timer.svg) no-repeat;

      @media #{$desktop} {
        content: "";
        position: absolute;
        width: 300px;
        height: 345px;
        left: -363px;
        top: -94px;
        background: url(../../img/decor/icon-timer.svg) no-repeat;
      }
    }

    &::after {
      content: "24";
      position: absolute;
      font-family: "Open Sans",
        Arial,
        sans-serif;
      font-size: 96px;
      font-weight: 700;
      color: #d22856;
      top: 19px;
      left: -291px;
      border: 14px solid #d22856;
      border-radius: 50%;
      padding: 64px 34px 76px 32px;

      @media #{$desktop} {
        content: "24";
        position: absolute;
        font-family: "Open Sans",
          Arial,
          sans-serif;
        font-size: 120px;
        font-weight: 700;
        color: #d22856;
        top: -24px;
        left: -342px;
        border: 16px solid #d22856;
        border-radius: 50%;
        padding: 86px 42px 100px 44px;

      }
    }

    br {

      @media #{$desktop} {
        display: none;
      }
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $blue;
    margin-bottom: 11px;

    @media (min-width: 750px) and (max-width: 959px) {
      font-size: 16px;
    }

    @media (min-width: 800px) and (max-width: 959px) {
      padding-right: 20px;
    }

    @media #{$desktop} {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 28px;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $pink;
    text-decoration: underline;

    @media #{$desktop} {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 28px;
    }
  }
}