//Список контактов для связи

.feedback {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;

  @media #{$tablet-only} {
    flex-flow: row wrap;
    margin-bottom: 60px;
  }

  @media #{$desktop} {
    flex-flow: row nowrap;
    align-items: initial;
    margin-bottom: 60px;
    margin-bottom: 0;
  }

  &__item {
    margin-bottom: 23px;

    @media #{$tablet-only} {
      flex: 1 1 250px;
      margin-bottom: 50px;
    }

    &:last-child {

      @media #{$tablet-only} {
        margin-bottom: 0;
      }
    }

    &:nth-child(2) {

      @media #{$desktop} {
        order: 1;
      }
    }
  }
}

//Заголовки и текстовая информация

.feedback {

  &__title {
    @include font("Open Sans", 18px, 700, normal);
    margin-bottom: 6px;

    @media #{$tablet-only} {
      margin-bottom: 7px;
    }

    @media #{$desktop} {
      margin-bottom: 27px;
    }
  }

  &__info {
    @include font("Open Sans", 24px, 300, normal);
    color: $pink;
  }


  &__phone,
  &__email {
    @include font("Open Sans", 24px, 300, normal);
    color: $pink;

    &:hover {
      color: $blue;
    }

    &:active {
      color: $blueHover;
    }
  }
}