.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @include font("Open Sans", 18px, bold, normal);
  background-color: $header;
  min-height: 65px;

  &--background {
    background-color: $blue;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}