.logo__icon {
  transition: .3s ease;

  &--mobile {
    width: 74px;
    height: 24px;
    fill: #fff;
    
    @media #{$tablet-only} {
      display: none;
    }
  }

  &--tablet {
    display: none;
    width: 147px;
    height: 40px;
    fill: #fff;

    @media #{$tablet-only} {
      display: block;
    }
  }


  &:hover {
    fill: $pink;
  }

  &:active {
    fill: #fff;
    opacity: 0.3;
  }

  &--footer {
    width: 147px;
    height: 40px;
    fill: #000;
  }
}