.price-table {
  border-collapse: collapse;
  margin-bottom: 40px;

  &__title {
    color: #fff;
    line-height: 30px;
    background-color: $blue;
    text-transform: uppercase;
    border-left: 1px solid #e5e5e5;
    padding: 16px 13px 20px 13px;
  }

  &__name {
    font-weight: 700;
  }

  &__cost {
    font-weight: 300;
  }

  &__row {
    width: 100%;
  }

  &__cell {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    min-width: 280px;
    padding: 22px;
    text-transform: uppercase;
  }
}

.price-table__title--hidden {
  visibility: hidden;
}