//Стили для списка и элементов списка

.price {
  display: flex;

  @media #{$desktop} {
    padding-top: 78px;
  }

  &__item {
    flex: 1 1 152px;

    &--hidden {
      display: none;

      @media #{$tablet-only} {
        display: block;
      }
    }

    &:first-child {
      padding-top: 98px;

      @media #{$tablet-only} {
        padding-top: 86px;
      }

      @media #{$desktop} {
        padding-top: 99px;
      }
    }
  }
}

//Стили ячеек(Шапка, ячейки, иконки)

.price__inner {
  padding: 13px 15px 18px 22px;
  border: 1px solid #e5e5e5;

  @media #{$tablet-only} {
    padding: 0;
    min-height: 45px;
    padding: 7px 25px 6px 15px;
    background-color: #fff;
  }

  @media #{$desktop} {
    min-width: 234px;
    min-height: 59px;
    padding: 14px 25px 6px 23px;
  }

  &--head {
    position: relative;
    @include font("Open Sans", 18px, 700, normal);
    color: #fff;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 18px 66px 18px 70px;
    background-color: $blue;

    @media #{$tablet-only} {
      font-size: 16px;
      padding: 15px 35px 7px;
    }

    @media #{$desktop} {
      font-size: 18px;
      padding: 16px 35px 19px;
    }
  }

  &--available {
    background: url(../../img/decor/icon-yes.svg) 93% 50%/31px 21px no-repeat;
    background-color: #fff;

    @media #{$tablet-only} {
      background-position: 50% 50%;
    }
  }

  &--unavailable {
    background: url(../../img/decor/icon-no.svg) 92% 41%/27px 26px no-repeat;
    background-color: #fff;

    @media #{$tablet-only} {
      background-position: 50% 50%;
    }
  }
}

//Стили для стоимости тарифов

.price__title {
  margin-bottom: 5px;
}

.price__cost {
  font-size: 24px;
  font-weight: 300;

  @media #{$tablet-only} {
    font-size: 18px;
    margin-top: -3px;
  }

  @media #{$desktop} {
    font-size: 24px;
    line-height: 30px;
  }
}

//Стили заголовках ячеек

.price {

  &__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: $blue;

    @media #{$tablet-only} {
      font-size: 14px;
    }

    @media #{$desktop} {
      font-size: 18px;
    }

    &--hidden {

      @media #{$tablet-only} {
        display: none;
      }
    }
  }
}

//Стили для избранного тарифа

.price__title--hit {

  &::before {
    content: "";
    position: absolute;
    width: 74px;
    height: 73px;
    top: 0;
    left: 0;
    background: url(../../img/decor/bg-hit.svg) no-repeat;

    @media #{$tablet-only} {

      background: url(../../img/decor/bg-hit-tablet.svg) no-repeat;
      width: 61px;
      height: 61px;
      left: 1px;
    }
  }

  &::after {
    content: "хит";
    position: absolute;
    top: 12px;
    left: 10px;
    font-family: "Myriad Pro";
    font-size: 14px;
    line-height: 30px;
    transform: rotate(-45deg);

    @media #{$tablet-only} {
      top: 9%;
      left: 3%;
    }

    @media #{$desktop} {
      top: 8%;
      left: 2%;
    }
  }
}