//Стили для блока с публикацией

.publication {

  &__text {
    @include font("Open Sans", 14px, 400, normal);
    line-height: 30px;
    text-align: center;
    padding: 0 34px;
    margin-bottom: 45px;

    @media #{$tablet-only} {
      font-size: 18px;
      padding: 0 145px;
      margin-bottom: 107px;
    }

    @media #{$desktop} {
      margin-bottom: 70px;
    }
  }

  &__inner {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #f2f2f2;

    @media #{$tablet-only} {
      padding-bottom: 0;

      &>.container {
        display: flex;
      }
    }

    @media #{$desktop} {
      max-width: 960px;
      margin: 0 auto;
      padding: 54px 10px 57px;
      margin-bottom: 19px;
    }
  }

  &__functions {

    @media #{$tablet-only} {
      padding-top: 6px;
    }

    @media #{$desktop} {
      padding-top: 0;
    }
  }

  &__photo {
    margin-bottom: 37px;

    @media #{$tablet-only} {
      flex-shrink: 0;
    }

    @media #{$desktop} {
      padding-left: 70px;
      margin-right: 45px;
      margin-bottom: 0;
    }
  }

  &__filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;

    @media #{$tablet-only} {
      flex-direction: row;
      margin-left: 47px;
      margin-bottom: 34px;
    }

    @media #{$desktop} {
      margin-bottom: 126px;
    }
  }

  &__inner-filter {
    border-bottom: 1px solid #dddfe0;
    padding-bottom: 28px;
    text-align: center;

    @media #{$tablet-only} {
      flex-basis: 100%;
      padding-bottom: 0;
      border: none;
    }

    &--hidden {
      display: none;

      @media #{$tablet-only} {
        display: block;
      }
    }

    @media #{$desktop} {
      padding-top: 10px;
    }
  }

  &__filter {
    margin-bottom: 38px;

    @media #{$tablet-only} {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 203px;
      flex-grow: 1;
      margin-bottom: 0;
    }

  }

  &__icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 22px;

    @media #{$tablet-only} {
      flex-direction: column;
      justify-content: inherit;
      margin-right: 31px;
      margin-bottom: 0;
    }
  }

  &__icon {
    fill: $pink;
    width: 45px;
    height: 45px;

    @media #{$tablet-only} {
      width: 24px;
      height: 24px;
    }

    @media #{$desktop} {
      width: 44px;
      height: 44px;
    }

    &:hover {
      fill: $pinkHover;
    }
  }
}

//Стили для кнопки и обёртки общие

.publication__buttons {


  @media #{$tablet-only} {
    padding-left: 48px;
    padding-right: 13px;
  }

  @media #{$desktop} {
    display: flex;
    padding-left: 44px;
    padding-right: 0;
  }
}

//Стили для кнопки отправить

.button--send {
  width: 100%;
  color: $pink;
  border-color: $pink;
  transition: .5s linear;
  margin-bottom: 12px;
  padding: 15px 35px;

  &:hover {
    background-color: $pink;
    color: #fff;
  }

  &:active {
    background-color: $pink;
    color: rgba(255, 255, 255, .3);
  }

  @media #{$tablet-only} {
    margin-bottom: 27px;
  }

  @media #{$desktop} {
    margin-bottom: 0;
    padding: 16px 38px 15px 42px;
    margin-right: 43px;
  } 
}

//Стили для кнопки сброса

.button--reset {
  width: 100%;
  color: rgba(0, 0, 0, .1);
  border-color: rgba(0, 0, 0, .1);
  background-color: #fff;
  transition: .5s linear;

  @media #{$desktop} {
    padding: 12px 53px 15px;
  }

  &:hover {
    color: rgba(0, 0, 0, .3);
    border-color: rgba(0, 0, 0, .3);
  }

  &:active {
    background-color: rgba(0, 0, 0, .3);
    color: rgba(255, 255, 255, .3);
  }
}

// Инпут Рандж

.publication__input {
  width: 100%;
  appearance: none;
  height: 2px;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;

  @media #{$desktop} {
    height: 1px;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    background-color: #fff;
    height: 14px;
    width: 14px;
    border: 3px solid $pink;
    border-radius: 50%;

    &:active {
      background-color: $pink;
    }
  }

  &::-moz-range-track {
    width: 100%;
    appearance: none;
    height: 2px;
    background-color: #000;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    appearance: none;
    background-color: #fff;
    height: 14px;
    width: 14px;
    border: 3px solid $pink;
    border-radius: 50%;

    &:active {
      background-color: $pink;
    }
  }
}

//Стили для Лайблов

.publication__title {

  @media #{$tablet-only} {
    margin-bottom: 47px;
  }

  @media #{$desktop} {
    margin-bottom: 24px;
  }
}