//Общие стили блока отзывов

.rewievs {

  &__inner {
    overflow: hidden;
  }


  &__text {
    @include font("Open Sans", 14px, 400, normal);
    line-height: 30px;
    text-align: center;
    margin-bottom: 26px;

    @media #{$tablet-only} {
      order: -1;
      font-size: 18px;
      margin-bottom: 35px;
    }

    @media #{$desktop} {
      padding: 0 125px;
      margin-bottom: 36px;

      &::before {
        content: "";
        position: absolute;
        top: 72px;
        left: 428px;
        width: 79px;
        height: 63px;
        background: url(../../img/decor/icon-quotes.svg) no-repeat;
      }
    }
  }

  &__name {
    order: -1;
    @include font("Open Sans", 18px, 700, normal);
    line-height: 30px;
    margin-bottom: 14px;

    @media #{$tablet-only} {
      font-size: 20px;
      margin-bottom: 9px;
    }

    @media #{$desktop} {
      font-size: 24px;
    }
  }

  &__about {
    display: none;

    @media #{$tablet-only} {
      display: block;
      @include font("Open Sans", 14px, 400, normal);
      margin-bottom: 33px;
    }

    @media #{$desktop} {
      font-size: 18px;
      margin-bottom: 50px;
    }
  }
}
