.rewievs {

  &__text {
    @include font("Open Sans", 14px, 400, normal);
    line-height: 30px;
    text-align: center;
    margin-bottom: 35px;
  }

  &__name {
    order: -1;
    @include font("Open Sans", 18px, 700, normal);
    line-height: 30px;
    margin-bottom: 25px;
  }

  &__about {
    display: none;
  }
}

.rewievs__prev {
  display: none;
}

.rewievs__next {
  display: none;
}