//Общие стили блока отзывов

.rewievs {

  &__inner {
    overflow: hidden;
  }

  &__list {
    position: relative;
    display: flex;
    overflow: hidden;
    padding-top: 41px;

    @media #{$desktop} {
      padding-top: 185px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
  }

  &__text {
    @include font("Open Sans", 14px, 400, normal);
    line-height: 30px;
    text-align: center;
    margin-bottom: 26px;

    @media #{$tablet-only} {
      order: -1;
      font-size: 18px;
      margin-bottom: 35px;
    }

    @media #{$desktop} {
      padding: 0 125px;
      margin-bottom: 36px;

      &::before {
        content: "";
        position: absolute;
        top: 72px;
        left: 428px;
        width: 79px;
        height: 63px;
        background: url(../../img/decor/icon-quotes.svg) no-repeat;
      }
    }
  }

  &__name {
    order: -1;
    @include font("Open Sans", 18px, 700, normal);
    line-height: 30px;
    margin-bottom: 14px;

    @media #{$tablet-only} {
      font-size: 20px;
      margin-bottom: 9px;
    }

    @media #{$desktop} {
      font-size: 24px;
    }
  }

  &__about {
    display: none;

    @media #{$tablet-only} {
      display: block;
      @include font("Open Sans", 14px, 400, normal);
      margin-bottom: 33px;
    }

    @media #{$desktop} {
      font-size: 18px;
      margin-bottom: 50px;
    }
  }
}

//Стили для кнопок переключения слайдов


.rewievs__prev {
  display: none;
  transition: .3s linear;

  @media #{$desktop} {
    position: absolute;
    top: 50%;
    display: block;
    width: 22px;
    height: 41px;
    cursor: pointer;
    padding: 0;
    outline: none;
    border: none;
    background: url(../../img/decor/icon-review-arrow-left.svg) no-repeat;

    &:hover {
      background: url(../../img/decor/icon-review-arrow-left-hvr.svg) no-repeat;
    }

    &:active {
      background: url(../../img/decor/icon-review-arrow-left-down.svg) no-repeat;
    }
  }
}

.rewievs__next {
  display: none;
  transition: .3s linear;

  @media #{$desktop} {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 22px;
    height: 41px;
    cursor: pointer;
    padding: 0;
    outline: none;
    border: none;
    background: url(../../img/decor/icon-review-arrow-right.svg) no-repeat;

    &:hover {
      background: url(../../img/decor/icon-review-arrow-right-hvr.svg) no-repeat;
    }

    &:active {
      background: url(../../img/decor/icon-review-arrow-right-down.svg) no-repeat;
    }
  }
}