//Стили для слайдера

.slider {
  position: relative;

  &__inner {
    overflow: hidden;
  }

  &__list {
    display: flex;
    overflow: hidden;
    padding-top: 41px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
  }
}

//Стили списка и элементов списка точек переключения

  .slider__toggles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 44px;
    padding-left: 15px;
  }

  .slider__toggle {
    margin-right: 17px;
  }

//Стили кнопок перекличения(дотс)

  .slider__button {
    width: 7px;
    height: 7px;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    transition: .3s ease-in-out;
    border: 2px solid transparent;

    &--active {
      width: 9px;
      height: 9px;
      padding: 4px;
      border: 2px solid #000;
      background-color: #fff;

      @media #{$tablet-only} {
        padding: 3px;
        border: 3px solid #000;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, .6);
    }

    &:active {
      background-color: rgba(0, 0, 0, .2);
    }
  }