.slider {
  position: relative;

  &__list {
    position: relative;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    padding-top: 41px;
    height: 352px;
    
    @media #{$tablet-only} {
      height: 267px;
    }

    @media #{$desktop} {
      height: 415px;
      padding-top: 185px;
    }
  }

  &__item {
    display: none;
    width: 100%;
    text-align: center;

    &--active {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

//Кнопки вперёд, назад
//Стили для кнопок переключения слайдов


.slider__prev {
  display: none;
  transition: .3s linear;

  @media #{$desktop} {
    position: absolute;
    top: 50%;
    display: block;
    width: 22px;
    height: 41px;
    cursor: pointer;
    padding: 0;
    outline: none;
    border: none;
    background: url(../../img/decor/icon-review-arrow-left.svg) no-repeat;

    &:hover {
      background: url(../../img/decor/icon-review-arrow-left-hvr.svg) no-repeat;
    }

    &:active {
      background: url(../../img/decor/icon-review-arrow-left-down.svg) no-repeat;
    }
  }
}

.slider__next {
  display: none;
  transition: .3s linear;

  @media #{$desktop} {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 22px;
    height: 41px;
    cursor: pointer;
    padding: 0;
    outline: none;
    border: none;
    background: url(../../img/decor/icon-review-arrow-right.svg) no-repeat;

    &:hover {
      background: url(../../img/decor/icon-review-arrow-right-hvr.svg) no-repeat;
    }

    &:active {
      background: url(../../img/decor/icon-review-arrow-right-down.svg) no-repeat;
    }
  }
}

//Стили списка и элементов списка точек переключения

.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 44px;
  padding-left: 15px;

  @media #{$desktop} {
    display: none;
  }
}

.slider__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

//Стили кнопок перекличения(дотс)

.slider__button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 50%;
  transition: .3s linear;
  border: 2px solid transparent;

  @media #{$tablet-only} {
    padding: 0;
    border: 4px solid transparent;
  }

  &--active {
    width: 10px;
    height: 10px;
    padding: 0;
    border: 2px solid #000;
    background-color: #fff;

    @media #{$tablet-only} {
      padding: 2px;
      border: 2px solid #000;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, .6);
  }

  &:active {
    background-color: rgba(0, 0, 0, .2);
  }
}