//Общие стили блока с тарифами

.tarrifs {
  background-image: url(../../img/decor/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 100% auto;
  background-color: #f2f2f2;
  padding-top: 84px;
  padding-bottom: 99px;

  @media #{$tablet-only} {
    padding: 63px 0;
  }
}